/* General styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: #fff;
    line-height: 1.6;
    overflow-x: hidden;
}

/* Main Content */
.main-content {
    transition: 0.3s ease;
    position: absolute;
    left: 0;
}